<% layout("/layouts/boilerplate") %>
<body>
 <div class="row">
    <div class="col-8 offset-2" >
         <br><br>
        <h1>Edit Form</h1>
        <form 
         method="post"
         action="/listings/<%= listdata._id%>?_method=PUT" 
         class="needs-validation"  
         novalidate 
         enctype="multipart/form-data"
         > 
        <div>
            <label for="title" class="form-label">Title</label>
            <input type="text" name="listing[title]" value="<%=listdata.title%>" class="form-control" required>
            <div class="valid-feedback">Titles look good</div>
            <div class="invalid-feedback">Title Should be Valid</div>
        </div>
        <div>
            <label for="description" class="form-label">Description</label>
           <textarea type="text" name="listing[description]" class="form-control" required><%= listdata.description %></textarea>
            <div class="invalid-feedback">Description give in Short</div>
        </div>
        <div class="mb-3">
            Original image <br>
            <img src="<%= originalimageurl %>" alt="image">
        </div>
         <div>
            <label for="image" class="form-label">update Image</label>
            <input type="file" 
            name="listing[image]" 
            
            class="form-control" >
           <div class="invalid-feedback">Url is required</div>
        </div>
        <div class="row">
            <div class="col-md-4">
               <label for="price" class="form-label">Price</label>
               <input name="listing[price]" value=<%= listdata.price %> type="number" class="form-control" required>
            </div>
            <div class="invalid-feedback">Price Should be Valid</div>
           <div class="col-md-8">
            <label for="country" class="form-label">Country</label>
            <input type="text" name="listing[country]" value="<%=listdata.country%>" class="form-control"required>
            </div> 
            <div class="invalid-feedback">Country Should be Valid</div>
        </div>
        <div class="row">
            <div class="col-md-2 mt-2">
                <label for="category">Category</label>
                <br>
<select name="listing[category]" id="category" required>
  <option disabled <%= !listdata.category ? 'selected' : '' %>>Select a category</option>
  <option value="Trending" <%= listdata.category === 'Trending' ? 'selected' : '' %>>Trending</option>
  <option value="Rooms" <%= listdata.category === 'Rooms' ? 'selected' : '' %>>Rooms</option>
  <option value="Mountain Cities" <%= listdata.category === 'Mountain Cities' ? 'selected' : '' %>>Mountain Cities</option>
  <option value="Castles" <%= listdata.category === 'Castles' ? 'selected' : '' %>>Castles</option>
  <option value="Swimming Pools" <%= listdata.category === 'Swimming Pools' ? 'selected' : '' %>>Swimming Pools</option>
  <option value="Camping Ground" <%= listdata.category === 'Camping Ground' ? 'selected' : '' %>>Camping Ground</option>
  <option value="Cow Farms" <%= listdata.category === 'Cow Farms' ? 'selected' : '' %>>Cow Farms</option>
  <option value="Bus Side" <%= listdata.category === 'Bus Side' ? 'selected' : '' %>>Bus Side</option>
  <option value="Sea Beaches" <%= listdata.category === 'Sea Beaches' ? 'selected' : '' %>>Sea Beaches</option>
  <option value="Vacant" <%= listdata.category === 'Vacant' ? 'selected' : '' %>>Vacant</option>
  <option value="Hotel" <%= listdata.category === 'Hotel' ? 'selected' : '' %>>Hotel</option>
</select>

        </div>
        <div class="col-md-10">
            <label for="location" class="form-label">Location</label>
            <input type="text" name="listing[location]" value="<%=listdata.location%>"class="form-control" required>
            <div class="invalid-feedback">Loctaion Should be Valid</div>
        </div>
    </div>
        <br><br>
        <button class="btn btn-dark add-button">Submit</button>
    </form>
    </div>
    </div>
    <br><br>
</body>
     
        
        